html
{
  font-size:16px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:16px !important;
  color:#333 !important;
  background:#f1f1f1 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-header
{
	width:100%;
}
.header-pos-center
{
	width:1170px;
	margin:0 auto;
}
.card-ui
{
  padding:30px;
  background:#fff;
  margin-top:30px;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
}

.card-ui:last-child
{
  margin-bottom:30px;
}

.campaign-image.no-image
{
  height:400px;
  position: relative;
  background:#ddd;
}

.campaign-image.no-image img
{
  display: none;
}

.campaign-image.no-image::after
{
  content:'No Image Available';
  position: absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  -webkit-transform:translateX(-50%) translateY(-50%);
  -moz-transform:translateX(-50%) translateY(-50%);
  -ms-transform:translateX(-50%) translateY(-50%);
  color:#fff;
  font-size:1.2rem;
}

.img-responsive
{
  max-width:100%;
}

.campaign-title
{
  font-size:2.5rem;
  padding-bottom:15px;
}

.campaign-meta
{
  margin-top:15px;
  position: relative;
}

.campaign-social
{
  position: absolute;
  right:5px;
  top:50%;
  transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
}

.social-button-container
{
  display: inline-block;
  padding-left:5px;
  padding-right:5px;
}

.social-button-container > *
{
  display: inline-block !important;
}

.like-count
{
  margin-right:2px;
}

.social-button
{
  padding:5px;
  background:#000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 1 !important;
  text-align: center;
}

.social-button i.fa
{
  position: relative;
  color:#fff;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.like-button:hover,
.like-button.isLiked
{
  background:red !important;
}

.facebook-button:hover
{
  background: #4267b2;
}

.twitter-button:hover
{
  background:#1da1f2;
}


.campaign-meta p
{
  padding-top:15px;
  padding-bottom:15px;
  border:1px solid #ddd;
  border-left:none;
  border-right:none;
}

.campaign-description
{
  padding-top:15px;
  padding-bottom:15px;
  text-align: justify;
}

.volunteer-title,
.comment-title
{
  font-size:2rem;
  padding-top:15px;
  padding-bottom: 15px;
  margin-bottom:15px;
  border-bottom:1px solid #ddd;
}
.user-dp-circle
{
  position:relative;
  width:96px;
  height:96px;
  margin-right:15px;
  background-size:cover;
  background-position: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.user-no-img
{
  position: relative;
  width:96px;
  height:96px;
  margin-right:15px;
  background:#ddd;
}

.user-no-img::after
{
  position: absolute;
  content:'No Image Found';
  color:#fff;
  font-size:1rem;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  -webkit-transform:translateX(-50%) translateY(-50%);
  -moz-transform:translateX(-50%) translateY(-50%);
  -ms-transform:translateX(-50%) translateY(-50%);
}

.media-body
{
  text-align: justify;
}
.single-comment
{
  margin-top:35px;
}

#comment-form
{
  position: relative;
}

.comment-entry input
{
  width:100%;
  height:64px;
  padding:20px;
  padding-right:46px;
  outline:none !important;
  border-radius:32px;
  -webkit-border-radius:32px;
  -moz-border-radius:32px;
  border-style:solid !important;
  border-width: 1px !important;
}

#comment-form button
{
  position: absolute;
  top:50%;
  right:7px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  border:none !important;
  width:32px;
  height:32px;
  outline:none !important;
  background:transparent !important;
  padding:0px !important;
}

.donation-progress span
{
  font-size:0.8rem;
}

.progress
{
  background-color:#ccf1e0 !important;
  margin-top:15px;
  height:0.6rem !important;
}

.progress-bar
{
  background-color:#00b964 !important;
}

.donate-btn-container
{
  padding-top:30px;
  padding-bottom:15px;
}

.donate-btn
{
  display: block;
  width:100%;
  padding:10px;
  text-align:center;
  background:#fdb933;
  color:#000;
  font-weight: bold;
}

.donate-btn:hover
{
  background:#f2ac2f;
  color:#000 !important;
}

.half-size-dp
{
  width:32px !important;
  height:32px !important;
}

.panel-ui
{
  margin-bottom:10px;
}

.panel-ui-header
{
  padding:10px;
  background:#00b8d4;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.panel-ui-header h5
{
  color:#333;
  margin-bottom:0px !important
}



.donation-detail
{
  display:inline-block;
  font-weight: bold;
}
.donation-amount
{
  color:#000;
}

.donation-date
{
  padding-left:20px;
  color:#ddd;
}

.panel-ui-body
{
  padding:10px;
  background:#00e5ff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.panel-ui-body strong
{
  color:#000;
}

.dependent-list-title
{
  padding:15px;
  padding-left:0px;
  margin-bottom:35px;
  border-bottom:1px solid #ddd;
}

.dependent-grid-item
{
  position:relative;
  margin-bottom:0px;
}

.dependent-grid-edit,
.campaign-grid-edit
{
  position: absolute;
  display: none;
  top:10px;
  right:15px;
  padding:15px;
  background:#0055a5;
  cursor: pointer;
  line-height: 1rem;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  z-index:5;
}

.dependent-grid-item:hover .dependent-grid-edit
{
  display: block;
}

.dependent-grid-edit i.fa
{
  color:#fff;
  font-size:1rem;
}

.dependent-grid-image
{
  width:50%;
  height:300px;
  background-size:cover;
  background-position: center;
}
.dependent-grid-item:nth-child(odd) .dependent-grid-image
{
  float:left;
}

.dependent-grid-item:nth-child(even) .dependent-grid-image
{
  float:right;
}

.dependent-grid-details
{
  position: relative;
  float:left;
  width:50%;
  padding:15px;
  height:300px;
  overflow:hidden;
  background:#1b1b1b;
}

.dependent-grid-details-inner
{
  position: absolute;
  top:50%;
  left:50%;
  transform:translateY(-50%) translateX(-50%);
  -webkit-transform:translateY(-50%) translateX(-50%);
  -moz-transform:translateY(-50%) translateX(-50%);
  -ms-transform:translateY(-50%) translateX(-50%);
}

.dependent-grid-details p
{
  margin-top:10px;
  margin-bottom:10px;
}

.dependent-grid-details *
{
  color:#fff !important;
}

.clear
{
  clear:both;
}

select.form-control
{
  width:calc(100% - 60px);
  width:-webkit-calc(100% - 60px);
  width:-moz-calc(100% - 60px);
  width:-ms-calc(100% - 60px);
  display:inline-block;
}

.dropdown-side
{
  display:inline-block;
  padding:7px;
}

.dropdown-side a
{
  color:#000 !important;
}

.dropdown-side i.fa
{
  font-size:16px;
  color:#000;
}

.campaign-list-title
{
  margin-top:20px !important;
  padding-left: 15px;
}

.campaign-grid-single
{
  padding-bottom:30px;
}

.campaign-grid-inner
{
  padding:0px;
  background:#fff;
  border-radius:4px;
  position: relative;
}

.campaign-grid-image
{
  position: relative;
  height:200px;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.campaign-image-link-wrap,
.volunteer-image-link-wrap
{
  position: absolute;
  top: 0px;
  left:0px;
  width: 100%;
  height: 100%;
}

.campaign-grid-header
{
  padding:16px;
}

.campaign-grid-title
{
  color:#333;
  font-weight:900;
  font-size:1.5rem;
}

.campaign-grid-title a
{
  color:#333;
}

.campaign-grid-desc
{
  padding:16px;
}

.campaign-grid-inner .donation-progress
{
  padding:16px;
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.campaign-grid-inner .progress
{
  margin:16px;
}

.campaign-page-dependent-list
{
  padding-top:15px;
}

.dependent-profile-item
{
  padding-top:15px;
  padding-bottom:15px;
  margin-bottom:15px;
  border-bottom:1px solid #ddd;
}

.dependent-profile-card-title
{
  padding-bottom:10px;
  margin-bottom:10px;
  border-bottom:1px solid #ddd;
}

.dependent-profile-card .dependent-profile-item
{
  border-bottom:none !important;
  margin-bottom:0px !important;
  padding-bottom:0px !important;
}

.donation-form
{
  margin-top:20px;
}

.donate-button-container
{
  padding-left:5px !important;
  padding-right:5px !important;
}

.donate-button
{
  display: block;
  width:100%;
  padding:10px;
  background:#333;
  border-radius:4px;
  border:none !important;
  outline:none !important;
  color:#fff !important;
}

.donate-input-box
{
  margin-top:10px;
  padding:10px;
  background:#333;
  border-radius:4px;
}

.donate-input-box-inner
{
  padding-bottom:5px;
  border-bottom:1px dashed #fff;
}

.donate-input
{
  border:none !important;
  outline:none !important;
  display:block;
  width:100%;
  background:transparent !important;
  caret-color: #fff !important;
  color: #fff !important;
  text-align: center;
}

button.donate-btn
{
  border:none !important;
  outline:none !important;
}

.donate-button:hover
{
  background: #fdb933;
  color:#000;
  font-weight: bold;
}

.top-campaign-container
{
  margin-top:30px;
  margin-bottom:30px;
}

.top-campaign-title
{
  padding-bottom:15px;
  margin-bottom:15px;
  border-bottom:1px solid #ddd;
}

.skeleton-container .media-body
{
  padding-left:15px;
  padding-right:15px;
}

.skeleton-img
{
  width:96px;
  height:96px;
  background:#ddd;
}

.skeleton-title
{
  padding-top:10px;
  padding-bottom:10px;
  width:55%;
  background: #ddd;
  margin-bottom: 20px;
}

.skeleton-row
{
  padding-top:8px;
  padding-bottom:8px;
  background:#ddd;
  margin-bottom:5px;
}

.skeleton-row:last-child
{
  width:70px;
  margin-top: 15px;
}

.skeleton-img,
.skeleton-title,
.skeleton-row
{
  position: relative;
  overflow: hidden;
}

.skeleton-img::after,
.skeleton-title::after,
.skeleton-row::after
{
  content:'';
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-image:linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  transform:translateX(-100%);
  -webkit-transform:translateX(-100%);
  -moz-transform:translateX(-100%);
  -ms-transform:translateX(-100%);
  animation:skeletonShimmy 2s infinite;
}

@keyframes skeletonShimmy {

  100% {
    transform:translateX(100%);
    -webkit-transform:translateX(100%);
    -moz-transform:translateX(100%);
    -ms-transform:translateX(100%);
  }

}

.user-profile .user-image
{
  width:96px;
  height:96px;
}

.user-profile .user-image.image-present
{
  background-size:cover;
  background-position: center;
}

.user-profile .user-image:not(.image-present)
{
  position: relative;
  background:#ddd;
}

.user-profile .user-image:not(.image-present)::after
{
  position: absolute;
  content:'No Image Found';
  color:#fff;
  font-size:1rem;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  -webkit-transform:translateX(-50%) translateY(-50%);
  -moz-transform:translateX(-50%) translateY(-50%);
  -ms-transform:translateX(-50%) translateY(-50%);
}

.user-profile .media-body
{
  padding-left:15px;
  padding-right:15px;
}

.user-profile .user-name-container span
{
  display: inline-block;
}

.user-profile .user-name-container span:last-child
{
  padding-left:15px;
}

.user-profile .user-name-container
{
  margin-bottom:20px;
}

.user-about-me p
{
  margin-bottom:10px;
}

.user-edit-title
{
  padding-bottom:15px;
  margin-bottom:15px;
  border-bottom:1px solid #ddd;
}

.no-item-title
{
  padding-bottom:15px;
  margin-bottom:15px;
  border-bottom:1px solid #ddd;
}



