html
{
  font-size:16px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:16px;
  color:#333;
  background:#f1f1f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-header
{
	width:100%;
}
.header-pos-center
{
	width:1170px;
	margin:0 auto;
}
.card-ui
{
  padding:30px;
  background:#fff;
  margin-top:30px;
}

.card-ui:last-child
{
  margin-bottom:30px;
}

.img-responsive
{
  max-width:100%;
}

.campaign-title
{
  font-size:2.5rem;
  padding-bottom:15px;
}

.campaign-meta
{
  margin-top:15px;
}

.campaign-meta p
{
  padding-top:15px;
  padding-bottom:15px;
  border:1px solid #ddd;
  border-left:none;
  border-right:none;
}

.campaign-description
{
  padding-top:15px;
  padding-bottom:15px;
}