html
{
  font-size:16px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:16px !important;
  color:#333 !important;
  background:#f1f1f1 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-header
{
	width:100%;
}
.header-pos-center
{
	width:1170px;
	margin:0 auto;
}
.card-ui
{
  padding:30px;
  background:#fff;
  margin-top:30px;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
}

.card-ui:last-child
{
  margin-bottom:30px;
}

.img-responsive
{
  max-width:100%;
}

.campaign-title
{
  font-size:2.5rem;
  padding-bottom:15px;
}

.campaign-meta
{
  margin-top:15px;
}

.campaign-meta p
{
  padding-top:15px;
  padding-bottom:15px;
  border:1px solid #ddd;
  border-left:none;
  border-right:none;
}

.campaign-description
{
  padding-top:15px;
  padding-bottom:15px;
}

.volunteer-title,
.comment-title
{
  font-size:2rem;
  padding-top:15px;
  padding-bottom: 15px;
  margin-bottom:15px;
  border-bottom:1px solid #ddd;
}
.user-dp-circle
{
  width:64px;
  height:64px;
  margin-right:15px;
  background-size:cover;
  background-position: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.media-body
{
  text-align: justify;
}
.single-comment
{
  margin-top:15px;
}

.comment-entry textarea
{
  width:100%;
}

.donation-progress span
{
  font-size:0.8rem;
}

.progress
{
  background-color:#ccf1e0 !important;
  margin-top:15px;
  height:0.6rem;
}

.progress-bar
{
  background-color:#00b964 !important;
}

.donate-btn-container
{
  padding-top:30px;
  padding-bottom:15px;
}

.donate-btn
{
  display: block;
  width:100%;
  padding:10px;
  text-align:center;
  background:#fdb933;
  color:#000;
  font-weight: bold;
}

.donate-btn:hover
{
  background:#f2ac2f;
  color:#000 !important;
}

.half-size-dp
{
  width:32px !important;
  height:32px !important;
}

.donation-detail
{
  display:inline-block;
  font-weight: bold;
}
.donation-amount
{
  color:#000;
}

.donation-date
{
  padding-left:20px;
  color:#ddd;
}

.donation-list-container .media
{
  padding-bottom:15px;
  border-bottom:1px solid #ddd;
}